<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <title>is_alive_host</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #8ca6be;">
    <a class="navbar-brand" href="/">is_alive_host</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/jim95022">Github</a>
        <a class="nav-item nav-link" href="mailto:jim95022@gmail.com">Write to Author</a>
      </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid" style="background-color: white;">
    <div class="container">
      <h1 class="display-4">Check website status</h1>
      <p class="lead"> Enter the website name in the field to check its status.</p>

     
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" onchange="hostname_info()" placeholder="Enter website here" id=hostname>
            </div>
          </div>

          <p class="lead">For using this method you need to send GET request to http://127.0.0.1:8000/healthz?hostname=[website] and put your website into [website]</p>

    
        <br>
        <div class="embed-responsive embed-responsive-1by1">
          <iframe class="embed-responsive-item" src="" id="api"></iframe>
        </div>
    </div>
  </div>

</body>

<script>
  function hostname_info(){
      var hostname = document.getElementById("hostname").value;
      document.getElementById('api').src = 'http://127.0.0.1:8000/healthz?hostname=' + hostname
    }
</script>

</html>